.wrapper{
    padding: 0px;
    height: 635px;
    width: 700px;
    background-color: rgb(240, 217, 87);
    border: 1px darksalmon;
    margin-left: 320px;
}

.holder{
    margin-left: 55px;
    height: 600px;
    width: 600px;
    background-color: rgb(199, 235, 163);
}

td{
    font-size: small;
    text-align: center;
    width: 150px;
    height: 30px;
}

.footer{
    height: 30px;
    text-align: center;
    font-size: larger;
    padding-top: 6px;
    background-color: burlywood;
}